.userbar {
  display: flex;
}

.userbar__list {
  display: flex;
  align-items: center;
}

.userbar__list-item {
  position: relative;
  margin: 0 24px;
}

.userbar__list-item:first-of-type {
  margin-left: 0;
}

.userbar__list-item:last-of-type {
  margin-right: 0;
}

.userbar__list-text {
  position: absolute;
  bottom: 0;
  right: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  font: var(--font-notifications-text);
  color: var(--color-notifications-text);
  background-color: var(--color-notifications);
  border-radius: 100%;
}

.userbar__list-profileText {
  position: absolute;
  top: 0;
  right: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-profile);
  width: 15px;
  height: 15px;
}

.userbar__list-item.-menu {
  display: none;
}

@media (max-width: 1366px) {
  .userbar__list-item {
    margin: 0 19px;
  }
}

@media (max-width: 1024px) {
  .userbar__list-item {
    margin: 0 16px;
  }

  .userbar__list-item:last-of-type {
    display: none;
  }

  .userbar__list-item.-menu {
    display: block;
  }
}

@media (max-width: 630px) {
  .userbar__list-item {
    display: none;
  }

  .userbar__list-item:first-of-type {
    display: block;
  }
}

@media (max-width: 420px) {
  .userbar__list-item:first-of-type {
    display: none;
  }
}