:root {
  /* Палитра цветов */
  --color-blue: #3A85F4;
  --color-yellow: #FFCF27;
  --color-green: #A6CE39;
  --color-white: #fff;
  --color-grey: #575756;

  /* Назначение цветов */
  --color-main: var(--color-blue);
  --color-text-main: var(--color-grey);
  --color-notifications: var(--color-yellow);
  --color-profile: var(--color-green);
  --color-notifications-text: var(--color-white);
  --color-button: var(--color-blue);
  --color-button-outlined: var(--color-white);
  --color-button-text: var(--color-white);
  --color-button-outlined-text: var(--color-blue);
}