:root {
  /* Палитра цветов */
  --color-blue: #3A85F4;
  --color-yellow: #FFCF27;
  --color-green: #A6CE39;
  --color-white: #ffffff;
  --color-grey: #575756;
  --color-grey-darker: #2f2f2f;
  --color-grey-photographic: #383838;
  --color-pale: #F9FBFF;
  --color-pattens-blue: rgba(204, 231, 255, 1);
  --color-pattens-blue-transparent: rgba(204, 231, 255, 0.3);
  --color-blue-bluebryy-tarnsparent: rgba(44, 128, 255, 0.2);

  /* Назначение цветов */
  --color-background: var(--color-pale);
  --color-main: var(--color-blue);
  --color-text-main: var(--color-grey);
  --color-notifications: var(--color-yellow);
  --color-profile: var(--color-green);
  --color-notifications-text: var(--color-white);
  --color-button: var(--color-blue);
  --color-button-outlined: var(--color-white);
  --color-button-text: var(--color-white);
  --color-button-outlined-text: var(--color-blue);
  --color-header: var(--color-grey-darker);
  --color-banner-background: var(--color-white);
  --color-gradient-start: var(--color-pattens-blue-transparent);
  --color-gradient-end: var(--color-pattens-blue);
  --color-image-background: var(--color-white);
  --color-imabe-card-shadow: var(--color-blue-bluebryy-tarnsparent);
  --color-content-header: var(--color-grey-photographic);
  --color-content-main: var(--color-grey-darker);

  /* Гралиенты*/
  --color-gradient: var(--color-gradient-start), var(--color-gradient-end);
}