:root {
  /* Палитра цветов */
  --color-blue: #3A85F4;
  --color-yellow: #FFCF27;
  --color-green: #A6CE39;
  --color-white: #ffffff;
  --color-grey: #575756;
  --color-grey-darker: #2f2f2f;
  --color-grey-photographic: #383838;
  --color-pale: #F9FBFF;

  /* Назначение цветов */
  --color-background: var(--color-pale);
  --color-main: var(--color-blue);
  --color-text-main: var(--color-grey);
  --color-notifications: var(--color-yellow);
  --color-profile: var(--color-green);
  --color-notifications-text: var(--color-white);
  --color-button: var(--color-blue);
  --color-button-outlined: var(--color-white);
  --color-button-text: var(--color-white);
  --color-button-outlined-text: var(--color-blue);
  --color-header: var(--color-grey-darker);
  --color-banner-background: var(--color-white);
  --color-banner-gradient-start: rgba(204, 231, 255, 0.3);
  --color-banner-gradient-end: rgba(204, 231, 255, 1);
  --color-image-background: var(--color-white);
  --color-content-header: var(--color-grey-photographic);
  --color-content-main: var(--color-grey-darker);
}