:root {
  /* Назначение шрифтов*/
  --font-header-main: 18px 'Graphik', Tahoma, sans-serif;
  --font-button-outlined: 500 14px/14px 'Graphik', Tahoma, sans-serif;
  --font-button-main: 700 18px 'Roboto', Arial, sans-serif;
  --font-notifications-text: 700 11px 'Roboto', Arial, sans-serif;
  --font-banner-header: 700 50px 'Graphik', Tahoma, sans-serif;
  --font-banner-text: 20px/25px 'Graphik', Tahoma, sans-serif;
  --font-language-panel: 16px 'Graphik', Tahoma, sans-serif;
  --font-content-header: 700 40px 'Graphik', Tahoma, sans-serif;
  --font-content-main: 16px 'Graphik', Tahoma, sans-serif;
}
