.flowchart {
  margin-top: 125px;
}

.flowchart__figure {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
}

.content__headline {
  text-align: center;
  font: var(--font-content-header);
  color: var(--color-content-header);
}

.flowchart__figure-image-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  width: 266px;
  height: 267px;
  border-radius: 14px;
  background-color: var(--color-image-background);
}

.flowchart__figure-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  margin: 33px auto 0;
  max-width: 234px;
  font: var(--font-content-main);
  color: var(--color-content-main);
}

.flowchart__icon {
  margin-top: 178px;
}