/* Вся разметка */

.navWrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 85px;
}
nav ul.nav{
    margin-top: 19px ;
    display: flex;
    align-items: center;
}
.nav li{
    margin-left: 55px;
}

.userbar ul{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.userbar li{
    margin-right: 49px;
}
.icons{
    position: relative;
}
.userbar span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
}
.profile{
    position: relative;
}
.profile span{
    position: absolute;
    top: 0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
}