/* Разметка */
.userbar__list{
    display: flex;
    align-items: center;
    }

.userbar__list-item{
    position: relative;
    margin: 0 24px;
}

.userbar__list-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
}

.userbar__list-profileText{
    position: absolute;
    top: 0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили */
.userbar__list-text {
    width: 14px;
    height: 14px;
    font: 700 11px var(--font-seconadary);
    color: var(--color-notifications-text);
    background-color: var(--color-notifications);
    border-radius: 100%;
}

.userbar__list-profileText{
    background-color: var(--color-profile);
}