.banner {
  width: 100%;
  background-color: var(--color-banner-background);
  background-image: linear-gradient(to right, var(--color-gradient));
  margin-bottom: 125px;
}

.banner__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.banner__content-text {
  font: var(--font-banner-text);
  color: var(--color-grey-darker);
  width: 620px;
}

.banner__content-button {
  margin-top: 48px;
}

.banner__content-text {
  margin-top: 33px;
}

.banner__content-figure {
  margin: 55px 0;
}

