.community-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.community-block__subtitle {
  margin-top: 15px;
  margin-bottom: 35px;
}

.community-block__offers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 -23px;
}

.community-block__offers-other {
  margin-bottom: 95px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1366px) {
  .community-block__offers {
    margin: 0 -40px;
  }
}

@media (max-width: 1024px) {
  .community-block__offers-other {
    margin-top: 20px;
    margin-bottom: 76px;
  }

  .community-block__subtitle {
    margin-top: 13px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .community-block__subtitle {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}