.rating {
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating__value {
  font: var(--font-rating-value);
  color: var(--color-main);
}

@media (max-width: 1366px) {
  .rating {
    display: none;
  }
}