.social-media__list {
  display: flex;
}

.social-media__list-item {
  margin: 0 14px;
}

.social-media__list-item:first-of-type {
  margin-left: 0;
}

.social-media__list-item:last-of-type {
  margin-right: 0;
}