* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-background);
}

header {
  padding: 19px 0;
  background-color: var(--color-banner-background);
}






