/* Разметка */
.navHeader__list{
    display: flex;
    align-items: center;
}
.navHeader__list-item{
    margin: 0 22px;
}
/* Стили */
.navHeader__logo {
    max-width: 129px;
}

.navHeader__link{
    color: var(--color-text-main);
    font: 18px var(--font-regular);

}

.navHeader__lang{
    display: flex;
    align-items: center;
}
.navHeader__lang-icon,.navHeader__lang-text, .navHeader__lang-arrow{
    margin: 0 2px;
    font: 18px var(--font-regular);
}